html, body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  /* background-color: #b9ced1;
  background-image: url('https://image.freepik.com/free-vector/pastel-blue-watercolor-with-golden-frame_52683-52747.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

#root {
  height: 100vh;
}

.wholePage {
  background-color: #6d0e0e;
}


.LoginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  align-self: center;
  /* background-color: blue; */
  width: 50vh;
  margin-left: 25%;
}

.InnerContainer {
  width: 100%;
  background-color: #ffffffb0;
  padding: 15px 20px;
  border-radius: 30px;
  vertical-align:top;
  /* background-image: url('https://image.freepik.com/free-photo/minimalist-monochromatic-blue-wallpaper_23-2148667754.jpg'); */
  background-size: cover;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(194, 30, 30);
}